.icon {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    object-fit: fill
}

.cssIcon {
    width: 40rem;
    height: 40rem;
    background-image: url('../../assets/Zoning Toolkit Icon.png');
}
