.menuButton {
    position: relative;
}

.menuIcon {
    width: 40rem;
    height: 40rem;
}

.menuModeIcon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 12rem;
    height: 12rem;
}
